<!DOCTYPE html>
<html lang="en">

<head>
    <title>錯別字</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'rightwrong/styles.css' %}">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
    <h1 class="text-center">錯別字</h1>
    <hr>
    <div class="text-center mx-auto position-relative" id="display_width">
        <h3 class="text-center">選擇以下正確的中文詞語</h3>
        <h3 class="float-left d-inline">Score: <span id="score">0</span>/{{ words|length }}</h3>
        <a href="{% url 'statistics' 'id' %}" class="btn btn-primary float-right d-inline"
            id="statistics">Statistics</a>
        <table class="table table-bordered" style="color: black;">
            <tbody>
                {% for word in words %}
                <tr>
                    <input type="hidden" value="{{ word.id }}">
                    <td>{{ word.right }}</td>
                    <td>{{ word.wrong }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-primary" id="refresh">New</button>

    </div>


    <script src="{% static 'rightwrong/home.js' %}"></script>
</body>

</html>