/* For mobile and ipad devices */

html {
    font-size: 16px;
  }

td {
    font-size: 30px;
}

body{
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

.last-attempt {
    display: none;
}
.description {
    display: none;
}


/* For pc screen */
@media screen and (min-width: 750px){
    #display_width {
        width: 75%;
        font-size: 32px;
        padding: 0;
    }

    .last-attempt {
        display: table-cell
    }
    
}